{% extends 'base.html' %}
{% block body %}
<!-- Header -->
<header id="mainHeader" class="d-flex justify-content-center align-items-center">
    <h1 id="mainTitle" class="display-3 m-0 text-center">My Site</h1>
</header>

<!-- Footer -->
<footer class="footer mt-auto py-3 position-fixed">
  <div class="container">
    <div class="row">
        <div class="col-3 d-flex align-items-start justify-content-start">
            <span class="font-weight-light pl-3">ejolie</span>
        </div>
        <div class="offset-6 col-3 d-flex align-items-start justify-content-end">
            <a class="text-muted pr-3" href="#">Go Up</a>
        </div>
    </div>
  </div>
</footer>
{% endblock %}