{% extends 'movies/base.html' %}
{% block title %}영화{% endblock %}
{% block is_home %}active{% endblock %}
{% block body %}
    <div class="ui three column grid">
        {% for movie in movies %}
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="{{ movie.poster_url }}">
                    </div>
                    <div class="content">
                        <a href="{% url 'movies:movie_detail' movie.id %}" class="header">{{ movie.title }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}