/* Reset */
html {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f3f5;
}

body {
    background-color: #f1f3f5 !important;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Movie */
#movie {
    background-color: #f1f3f5;
    padding-top: 20px;
    padding-bottom: 200px;
}

.movie-subtitle {
    margin: 3rem 0;
    font-size: 1.8rem;
    font-weight: 100;
}


.movie-subtitle:after {
    content:' ';
    display: block;
    position: relative;
    width: 70px;
    left: 90px;
    top: 15px;
    border: 1.5px solid #ced0d2;
    border-radius: 4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

.card-title {
    font-weight: 400;
    font-size: 18px;
    word-break: break-all;
}

.badge.badge-pill.badge-primary {
    background-color: #4c6ef5;
}

.badge.badge-pill.badge-secondary {
    background-color: #68727b;
}

.badge.badge-pill.badge-info {
    background-color: #868e96;
}

.card img {
    width: 100%;
    height: 100%;
}

.card-text {
    font-weight: 400;
    font-size: 13px;
}